<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/aui.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
      <link rel="stylesheet" href="../../css/style/style.css">
</head>
<style media="screen">
    .sun_con {
        background-color: #fff;
    }

    .sum_top2 {
        line-height: 1.5rem;
    }

    .btn {
        position: relative;
        text-align: right;
        right: .5rem;
        line-height: 1.5rem
    }

    .btn button {
        border-radius: 0.1rem;
        padding: 0 1rem;
        width: 4.5rem;
    }

    .btn_lan {
        background: #fff;
        border: 1px solid #4593DE;
        color: #4593DE;
    }

    .btn_hong {
        background: #fff;
        border: 1px solid #FF6655;
        color: #FF6655;
    }
</style>

<body>
    <div id="vm">
      <!-- 无数据 -->
      <template v-if="list == false">
        <div class="aui-text-center "id="wsj">
            <i class="iconfont icon-vacancy aui-iconfont clo-99"></i>
            <p class="aui-font-size-16">暂无数据</p>
        </div>
      </template>
        <template v-for="(item,index) in list"v-else>
        <div class="sun_con aui-padded-10 aui-margin-15">
            <div class="sum_top2">
              <p class="clo-22 aui-font-size-16">科室：<span class="clo-99">{{item.departmentname}}</span></p>
                <p class="clo-22 aui-font-size-16">病人名称：<span class="clo-99">{{item.name}}</span></p>
                <p class="clo-22 aui-font-size-16">记录日期：<span class="clo-99">{{item.record_time}}</span></p>
                <p class="clo-22 aui-font-size-16">带教审批状态：<span class="clo-99">{{item.status_name}}</span></p>
                <p class="clo-22 aui-font-size-16">主任审批状态：<span class="clo-99">{{item.k_status_name}}</span></p>
            </div>
            <div class="aui-hr aui-margin-t-10 aui-margin-b-15"></div>
            <div class="btn">
                <button class="btn_lan aui-font-size-14" tapmode v-on:click="edit(item.id)">编辑</button>
                <button class="btn_hong aui-font-size-14 aui-margin-l-10" tapmode v-on:click="del(item.id)">删除</button>
            </div>
        </div>
      </template>
    </div>

</body>
<script src="../../script/api.js"></script>
<script src="../../script/AHelper.js"></script>
<script src="../../script/vue/vue.min.js"></script>
<script src="../../script/base.js"></script>
<script src="../../script/zepto.min.js"></script>
<script src="../../script/fastclick.js"></script>
<script>
    var vm = new Vue({
        el: "#vm",
        data: {
            list: []
        },
        methods: {
            edit: (id) => {
                H.setStorage("ys_jxdbl_id", id);
                api.openWin({
                    name: 'ys_jxdbl2',
                    url: '../gongzuo/jxdbl2.html',
                    pageParam: {
                        name: 'test'
                    }
                });
            },
            del: (id) => {
                var address = "/Hospital/index.php/api/ys/rotate_case_history";
                var token = H.getStorage('token');
                var ajaxData = {
                    token: token,
                    action: "delete",
                    id: id,
                };
                $base.submit(address, ajaxData, function(ret) {
                    console.log(JSON.stringify(ret));
                    if (ret.status == 1) {
                        $base.toast(ret.errmsg)
                        location.reload();
                    } else {
                        $base.toast(ret.errmsg)
                    }
                }, function(err) {
                    console.log(JSON.stringify(err));
                });
            }
        }
    })
    H.ready(function() {
        var address = "/Hospital/index.php/api/ys/rotate_case_history";
        var token = H.getStorage('token');
        $base.showLoading();
        var ajaxData = {
            token: token,
            action: 'list',
        };
        $base.get(address, ajaxData, function(ret) {
            console.log(JSON.stringify(ret));
            vm.list = ret.data;
            $base.closeLoading();
        }, function(err) {
            console.log(JSON.stringify(err));
        });

        api.addEventListener({
            name: 'jxdbl'
        }, function(ret, err){
            if( ret ){
                   location.reload();
            }else{
                 alert( JSON.stringify( err ) );
            }
        });
        //处理点击延迟
        $(function() {
            FastClick.attach(document.body);
        })
    })

</script>

</html>
