<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/aui.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
</head>
<style media="screen">
    header {
        position: fixed !important;
        width: 100%;
        font-size: 1rem;
    }

    header i {
        color: #222222;
        font-size: 1rem !important;
        font-weight: 600;
    }

    .pad {
        padding-top: 3.5rem;
    }

    .mm {
        background: #fff;
        height: 2.5rem;
        line-height: 2.5rem;
        font-family: PingFang-SC-Bold;
        border-bottom: 1px solid #ddd;
    }

    .gg {
        background-color: #fff;
    }

    .gg .lin {
        line-height: 2.5rem;
        width: 100%;
    }

    .gg textarea {
        height: 5rem
    }

    .bt {
        text-align: center;
        float: left;
        width: 100%;
        margin: 1rem auto auto auto;
        background: #fff;
        padding: 0.5rem 0 0.5rem 0;
        position: fixed;
        ;
        bottom: 0;
    }

    .bt button {
        width: 80%;
        text-align: center;
        border-radius: 4px;
        height: 2.5rem;
        font-size: 0.85rem;
        outline: none;
        border: 0;
        background: #4593DE;
        color: #fff;
    }

    .nk {
        height: 2.5rem;
        line-height: 2.5rem;
        background: #fff;
        border-bottom: 1px solid #ddd;
    }

    .nk select {
        /*width: 35%;*/
        direction: rtl;
        width: auto;
        padding: 0 2%;
        margin: 0;
        height: 2.5rem;
        line-height: 2.5rem;
    }

    option {
        text-align: right;
        direction: ltr;
    }

    .ll {
        height: 4.5rem;
    }
</style>

<body>
    <header class="aui-bar aui-bar-nav" id="header">
        <a class="aui-pull-left" tapmode onclick="fh()">
            <i class="iconfont icon-arrow-left aui-iconfont"></i>
        </a>
        <div class="aui-title">编辑教学大病历</div>
    </header>
    <div class="pad"></div>
    <div class="dd">
        <div>
            <div class="mm aui-margin-t-15">
                <div class="aui-pull-left aui-padded-l-10 aui-font-size-16">患者姓名 <span class="clo-hong">*</span></div>
                <div class="aui-pull-right aui-font-size-16 clo-99 "><input type="text" name="" value="" placeholder="请输入患者姓名" id="inp" class="clo-99 aui-text-right aui-padded-r-10" v-model="inputtext.patientName"></div>
            </div>
            <div class="nk">
                <p class="aui-pull-left aui-font-size-16 aui-padded-l-10 clo-22">性别<span class="clo-hong">*</span></p>
                <i class="iconfont icon-arrow-right aui-pull-right aui-font-size-16"></i>
                <select name="" class="aui-pull-right" v-model="inputtext.patientSex">
            <option value="男">男</option>
            <option value="女">女</option>
            </select>
            </div>

            <div class="mm aui-margin-b-15">
                <div class="aui-pull-left aui-padded-l-10 aui-font-size-16">年龄<span class="clo-hong">*</span></div>
                <div class="aui-pull-right aui-font-size-16 clo-99 "><input type="text" name="" value="" placeholder="请输入年龄" id="inp" class="clo-99 aui-text-right aui-padded-r-10" v-model="inputtext.patientAge"></div>
            </div>
        </div>

        <div>
            <div class="mm aui-margin-t-15">
                <div class="aui-pull-left aui-padded-l-10 aui-font-size-16">民族<span class="clo-hong">*</span></div>
                <div class="aui-pull-right aui-font-size-16 clo-99 "><input type="text" name="" value="" placeholder="请输入民族" id="inp" class="clo-99 aui-text-right aui-padded-r-10" v-model="inputtext.patientRace"></div>
            </div>
            <div class="nk">
                <p class="aui-pull-left aui-font-size-16 aui-padded-l-10 clo-22">婚否<span class="clo-hong">*</span></p>
                <i class="iconfont icon-arrow-right aui-pull-right aui-font-size-16"></i>
                <select name="" class="aui-pull-right" v-model="inputtext.patientMarriage">
                    <option value="未婚" >未婚</option>
                    <option value="已婚">已婚</option>
                    </select>
            </div>

            <div class="mm aui-margin-b-15">
                <div class="aui-pull-left aui-padded-l-10 aui-font-size-16">职业</div>
                <div class="aui-pull-right aui-font-size-16 clo-99 "><input type="text" name="" value="" placeholder="请输入职业" id="inp" class="clo-99 aui-text-right aui-padded-r-10" v-model="inputtext.patientJob"></div>
            </div>

        </div>


        <div>
            <div class="mm aui-margin-t-15">
                <div class="aui-pull-left aui-padded-l-10 aui-font-size-16">住院号<span class="clo-hong">*</span></div>
                <div class="aui-pull-right aui-font-size-16 clo-99 "><input type="text" name="" value="" placeholder="请输入住院号" id="inp" class="clo-99 aui-text-right aui-padded-r-10" v-model="inputtext.patientNumber"></div>
            </div>
            <div class="mm ">
                <div class="aui-pull-left aui-padded-l-10 aui-font-size-16">病区 <span class="clo-hong">*</span></div>
                <div class="aui-pull-right aui-font-size-16 clo-99 "><input type="text" name="" value="" placeholder="请输入病区" id="inp" class="clo-99 aui-text-right aui-padded-r-10" v-model="inputtext.patientDistrict"></div>
            </div>

            <div class="mm ">
                <div class="aui-pull-left aui-padded-l-10 aui-font-size-16">床号 <span class="clo-hong">*</span></div>
                <div class="aui-pull-right aui-font-size-16 clo-99 "><input type="text" name="" value="" placeholder="请输入床号" id="inp" class="clo-99 aui-text-right aui-padded-r-10" v-model="inputtext.patientAdmissionNumber"></div>
            </div>

            <div class="mm aui-margin-b-15">
                <div class="aui-pull-left aui-padded-l-10 aui-font-size-16">出生地 <span class="clo-hong">*</span></div>
                <div class="aui-pull-right aui-font-size-16 clo-99 "><input type="text" name="" value="" placeholder="请输入出生地" id="inp" class="clo-99 aui-text-right aui-padded-r-10" v-model="inputtext.patientBirthplace"></div>
            </div>

        </div>

        <div>
            <div class="mm aui-margin-t-15 ">
                <div class="aui-pull-left aui-padded-l-10 aui-font-size-16">入院日期 <span class="clo-hong">*</span></div>
                <i class="aui-iconfont aui-icon-right aui-pull-right aui-padded-r-10"></i>
                <div class="aui-pull-right aui-padded-r-10 aui-font-size-16"><input type="date" id="add-time" value="" style="padding: 0.7rem 0;" v-model="inputtext.patientAdmissionDate" /></div>
            </div>
            <div class="mm">
                <div class="aui-pull-left aui-padded-l-10 aui-font-size-16">记录日期 <span class="clo-hong">*</span></div>
                <i class="aui-iconfont aui-icon-right aui-pull-right aui-padded-r-10"></i>
                <div class="aui-pull-right aui-padded-r-10 aui-font-size-16"><input type="date" id="add-time" value="" style="padding: 0.7rem 0;" v-model="inputtext.recordDate" /></div>
            </div>
        </div>
        <div class="gg aui-margin-t-15">
            <div class="aui-pull-left aui-padded-l-10 aui-font-size-16  lin clo-33">家庭住址<span class="clo-hong">*</span></div>
            <textarea name="a" class="aui-padded-l-10" placeholder="请输入家庭住址" v-model="inputtext.patientAddress"></textarea>
        </div>
        <div class="gg aui-margin-t-15">
            <div class="aui-pull-left aui-padded-l-10 aui-font-size-16 lin clo-33">病历内容</div>
            <textarea name="a" class="aui-padded-l-10" placeholder="请输入病历内容" v-model="inputtext.all_content"></textarea>
        </div>
        <div class="ll"></div>
        <div class=" bt" tapmode v-on:click="submit()">
            <button>提交</button>
        </div>
    </div>
</body>
<script src="../../script/api.js"></script>
<script src="../../script/AHelper.js"></script>
<script src="../../script/vue/vue.min.js"></script>
<script src="../../script/base.js"></script>
<script src="../../script/zepto.min.js"></script>
<script src="../../script/fastclick.js"></script>
<script>
    var vm = new Vue({
        el: ".dd",
        data: {
            inputtext: {
              patientAdmissionDate:"2018-02-01",
              recordDate:"2018-02-01",
              patientSex:"男",
              patientMarriage:"未婚",
            }
        },
        methods: {
            submit: function() {
                console.log(JSON.stringify(this.inputtext));
                var address = "/Hospital/index.php/api/ys/rotate_case_history";
                var token = H.getStorage('token');
                var id = H.getStorage('ys_jxdbl_id');
                var ajaxData = {
                    token: token,
                    action: "update",
                    id:id,
                    patientName: this.inputtext.patientName,
                    patientSex: this.inputtext.patientSex,
                    patientAge: this.inputtext.patientAge,
                    patientRace: this.inputtext.patientRace,
                    patientMarriage: this.inputtext.patientMarriage,
                    patientDistrict: this.inputtext.patientDistrict,
                    patientAdmissionNumber: this.inputtext.patientAdmissionNumber,
                    patientNumber: this.inputtext.patientNumber,
                    patientBirthplace: this.inputtext.patientBirthplace,
                    patientJob: this.inputtext.patientJob,
                    patientAddress: this.inputtext.patientAddress,
                    patientAdmissionDate: this.inputtext.patientAdmissionDate,
                    recordDate: this.inputtext.recordDate,
                    all_content: this.inputtext.all_content,
                };
                $base.submit(address, ajaxData, function(ret) {
                    console.log(JSON.stringify(ret));
                    if (ret.status == 1) {
                      $base.toast(ret.errmsg);
                  api.sendEvent({
                      name: 'jxdbl',
                      extra: {
                          key1: true,
                      }
                  });
                      setTimeout(function () {
                          api.closeWin({});
                      },500)
                    } else {
                        $base.toast(ret.errmsg)
                    }
                }, function(err) {
                    console.log(JSON.stringify(err));
                });
            }
        }
    })
    H.ready(function() {
      var address = "/Hospital/index.php/api/ys/rotate_case_history";
      var token = H.getStorage('token');
      var id = H.getStorage('ys_jxdbl_id');
      $base.showLoading();
      var ajaxData = {
          token: token,
          action:'detail',
          id:id,
      };
      $base.get(address, ajaxData, function(ret) {
          console.log(JSON.stringify(ret));
          vm.inputtext = ret.data;
          $base.closeLoading();
      }, function(err) {
          console.log(JSON.stringify(err));
      });
      //处理点击延迟
      $(function() {
          FastClick.attach(document.body);
      })
    })

    function fh() {
        api.closeWin({});

    }
</script>

</html>
