<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/aui.css">
    <link rel="stylesheet" href="../../../css/iconfont/iconfont.css">
      <link rel="stylesheet" href="../../../css/style/style.css">
</head>
<style media="screen">
    header {
        position: fixed !important;
        width: 100%;
        font-size: 1rem;
    }

    header i {
        color: #222222;
        font-size: 1rem !important;
        font-weight: 600;
    }

    .pad {
        padding-top: 3.5rem;
    }

    .list {
        background-color: #fff;
        line-height: 1.5rem
    }

    .btn {
        position: relative;
        text-align: right;
        right: 1rem;
    }

    .btn button {
        width: 4rem;
    }

    .btn_lan {
        background: #fff;
        border: 1px solid #4593DE;
        color: #4593DE;
    }

    .btn_hong {
        background: #fff;
        border: 1px solid #FF7F7F;
        color: #FF7F7F;
    }
</style>

<body>
    <header class="aui-bar aui-bar-nav" id="header">
        <a class="aui-pull-left" tapmode onclick="fh()">
            <i class="iconfont icon-arrow-left aui-iconfont"></i>
        </a>
        <div class="aui-title">培训教学</div>
    </header>
    <div class="pad "></div>
    <div id="vm">
      <!-- 无数据 -->
      <template v-if="list == false">
        <div class="aui-text-center "id="wsj">
            <i class="iconfont icon-vacancy aui-iconfont clo-99"></i>
            <p class="aui-font-size-16">暂无数据</p>
        </div>
      </template>

      <template v-for="item in list" v-else>
        <div class="content aui-margin-15">
            <div class="list  aui-padded-10">
                <p class="clo-22 aui-font-size-16">账号：<span class="clo-99">{{item.account}}</span></p>
                <p class="clo-22 aui-font-size-16">住院医生：<span class="clo-99">{{item.name}}</span></p>
                <p class="clo-22 aui-font-size-16">专业：<span class="clo-99">{{item.professioname}}</span></p>
                <p class="clo-22 aui-font-size-16">学历：<span class="clo-99">{{item.educationame}}</span></p>
                <p class="clo-22 aui-font-size-16">类型：<span class="clo-99">{{item.typename}}</span></p>
                <p class="clo-22 aui-font-size-16">届数：<span class="clo-99">{{item.grade}}</span></p>
                <p class="clo-22 aui-font-size-16">规培状态：<span class="clo-99">{{item.rotate_status}}</span></p>
                <div>
                  <div class="aui-row dj">
                      <p class="aui-col-xs-6 clo-lan aui-font-size-16">主任已审批：<span>{{item.passnum}}</span></p>
                      <p class="aui-col-xs-6 clo-lan aui-font-size-16">主任未审批：<span>{{item.notpassnum}}</span></p>
                  </div>
                </div>
                <div class="aui-hr"></div>
                <div class="btn aui-padded-t-10 aui-text-right">
                    <button type="button" name="button" class="btn_lan " tapmode v-on:click="check(item.id)">查看详情</button>
                    <button type="button" name="button" class="btn_hong aui-margin-l-10" tapmode v-on:click="sh(item.id)">一键审核</button>
                </div>
            </div>
        </div>
      </template>
    </div>

</body>
<script src="../../../script/api.js"></script>
<script src="../../../script/AHelper.js"></script>
<script src="../../../script/base.js"></script>
<script src="../../../script/vue/vue.min.js"></script>
<script src="../../../script/zepto.min.js"></script>
<script src="../../../script/aui-dialog.js"></script>
<script src="../../../script/fastclick.js"></script>
<script>
    function fh() {
        api.closeWin({});
    }

    var vm = new Vue({
        el: "#vm",
        data: {
            list: []
        },
        methods: {
            check: (id) => {
                H.setStorage("zr_Train_id", id);
                api.openWin({
                    name: 'zr_Train1',
                    url: '../../keshizhuren/zr-gongzuo/zr_Train1.html',
                    pageParam: {
                        name: 'test'
                    }
                });
            },
            sh:(id)=>{
              console.log(id);
              var address = "/index.php/api/department/trainactivity";
              var token = H.getStorage('token');
              var ajaxData = {
                  token: token,
                  action:"allpass",
                  uid:id
              };
              $base.submit(address, ajaxData, function(ret) {
                  console.log(JSON.stringify(ret));
                    if(ret.status == 1){
                      $base.toast(ret.errmsg);
                    }else{
                        $base.toast(ret.errmsg);
                    }
              }, function(err) {
                  console.log(JSON.stringify(err));
              });
            }
        }
    })
    H.ready(function() {
      var address = "/index.php/api/department/trainactivity";
      var token = H.getStorage('token');
      $base.showLoading();
      var ajaxData = {
          token: token,
      };
      $base.get(address, ajaxData, function(ret) {
          console.log(JSON.stringify(ret));
          vm.list = ret.data;
          $base.closeLoading();
      }, function(err) {
          console.log(JSON.stringify(err));
      });
      //处理点击延迟
      $(function() {
          FastClick.attach(document.body);
      });
    })
</script>

</html>
