<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/aui.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../css/style/style.css">
</head>
<style media="screen">
    header {
        position: fixed !important;
        width: 100%;
        font-size: 1rem;
    }

    header i {
        color: #222222;
        font-size: 1rem !important;
        font-weight: 600;
    }

    .pad {
        padding-top: 3.5rem;
    }

    .list {
        background-color: #fff;
        line-height: 1.5rem
    }

    .btn {
        /*position: relative;
        right: 1rem;*/
    }

    .btn button {
        width: 4rem;
    }

    .btn_lan {
        background: #fff;
        border: 1px solid #4593DE;
        color: #4593DE;
    }

    .btn_hong {
        background: #fff;
        border: 1px solid #FF7F7F;
        color: #FF7F7F;
    }
</style>

<body>
    <header class="aui-bar aui-bar-nav" id="header">
        <a class="aui-pull-left" tapmode onclick="fh()">
            <i class="iconfont icon-arrow-left aui-iconfont"></i>
        </a>
        <div class="aui-title">考勤审批</div>
    </header>
    <div class="pad "></div>
    <div id="vm">
        <!-- 无数据 -->
        <template v-if="list == false">
        <div class="aui-text-center "id="wsj">
            <i class="iconfont icon-vacancy aui-iconfont clo-99"></i>
            <p class="aui-font-size-16">暂无数据</p>
        </div>
      </template>

        <template v-for="item in list" v-else>
        <div class="content aui-margin-15">
            <div class="list  aui-padded-10">
                <p class="clo-22 aui-font-size-16">账号：<span class="clo-99">{{item.account}}</span></p>
                <p class="clo-22 aui-font-size-16">住院医生：<span class="clo-99">{{item.name}}</span></p>
                <p class="clo-22 aui-font-size-16">所在科室：<span class="clo-99">{{item.departmentname}}</span></p>
                <p class="clo-22 aui-font-size-16">开始日期：<span class="clo-99">{{item.start_time}}</span></p>
                <p class="clo-22 aui-font-size-16">结束日期：<span class="clo-99">{{item.end_time}}</span></p>
                <p class="clo-22 aui-font-size-16">请假天数：<span class="clo-99">{{item.days}}</span></p>
                <p class="clo-22 aui-font-size-16">请假类型：<span class="clo-99">{{item.type_name}}</span></p>
                <p class="clo-22 aui-font-size-16">请假事由：<span class="clo-99">{{item.cause}}</span></p>
                <p class="clo-22 aui-font-size-16">审批状态：<span v-bind:class="item.t_status == 1?'clo-lan':'clo-hong'">{{item.t_status_name}}</span></p>
                <div class="aui-hr"></div>
                <div class="btn aui-padded-t-10 aui-text-right">
                    <button type="button" name="button" class="btn_lan aui-margin-l-10" tapmode v-on:click="sh(item.id)">通过上报</button>
                    <button type="button" name="button" class="btn_hong aui-margin-l-10" tapmode v-on:click="sh1(item.id)">拒绝上报</button>
                </div>
            </div>
        </div>
      </template>
    </div>

</body>
<script src="../../script/api.js"></script>
<script src="../../script/AHelper.js"></script>
<script src="../../script/base.js"></script>
<script src="../../script/vue/vue.min.js"></script>
<script src="../../script/zepto.min.js"></script>
<script src="../../script/aui-dialog.js"></script>
<script src="../../script/fastclick.js"></script>
<script>
    function fh() {
        api.closeWin({});
    }


    var vm = new Vue({
        el: "#vm",
        data: {
            list: [],
        },
        methods: {
            sh: (id) => {
                var address = "/index.php/api/teacher/attend";
                var token = H.getStorage('token');
                var ajaxData = {
                    token: token,
                    id: id,
                    action: "pass",
                    status: 1
                };
                $base.submit(address, ajaxData, function(ret) {
                    console.log(JSON.stringify(ret));
                    if (ret.status == 1) {
                        $base.toast(ret.errmsg);
                        setTimeout(function() {
                            location.reload();
                        }, 500)

                    } else {
                        $base.toast(ret.errmsg)
                    }
                }, function(err) {
                    console.log(JSON.stringify(err));
                });
            },
            sh1: (id) => {
                var address = "/index.php/api/teacher/attend";
                var token = H.getStorage('token');
                var ajaxData = {
                    token: token,
                    id: id,
                    action: "pass",
                    status: 2
                };
                $base.submit(address, ajaxData, function(ret) {
                    console.log(JSON.stringify(ret));
                    if (ret.status == 1) {
                        $base.toast(ret.errmsg);
                        setTimeout(function() {
                            location.reload();
                        }, 500)
                    } else {
                        $base.toast(ret.errmsg)
                    }

                }, function(err) {
                    console.log(JSON.stringify(err));
                });
            }
        }
    })
    H.ready(function() {
        var address = "/index.php/api/teacher/attend";
        var token = H.getStorage('token');
        var ajaxData = {
            token: token,
        };
        $base.get(address, ajaxData, function(ret) {
            console.log(JSON.stringify(ret));
            vm.list = ret.data;
            $base.closeLoading();
        }, function(err) {
            console.log(JSON.stringify(err));
        });
        //处理点击延迟
        $(function() {
            FastClick.attach(document.body);
        })
    })
</script>

</html>
